@if(Context.User.Identity.IsAuthenticated == false)
{
    //EFECTO OPTICO DEL LOGIN
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Empleados" asp-action="PerfilEmpleado">Log In</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Managed" asp-action="Logout">Log Out</a>
    </li>
    <li style="color:red" class="nav-item">
        @Context.User.Identity.Name
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Empleados" asp-action="PerfilEmpleado">Mi Pefil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Empleados" asp-action="AdminEmpleados">Zona Administración</a>
    </li>
    <li class="nav-item">
        <a style="color:red" class="nav-link text-dark" asp-controller="Empleados" asp-action="ZonaNoble">Zona de ricos</a>
    </li>
    
}